body
{
	background-color: #92C8B8;
	
}

.message
{
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 28px;
	width: 750px;
	color: #2F120A;
	letter-spacing: 2px;
}

#fixed
{
	margin-top: 150px;
	margin-left: 50px;
	position: fixed;
}

#absolute
{
	margin-left: 50px;
	position: absolute;
	height: 1000px;
	padding-top: 900px;
}

#info
{
	color: #686466 ;
	margin: 100px 0 0 50px;
	font-family: Helvetica;
}

#einstein
{
	width: 750px;
	text-align: right;
	color: #839CB5;
	font-size: 20px;
}